a {
    text-decoration: none !important;
}

.nav-bar {
    background-color: white;
    position: relative;
    z-index: 10;
}

.join-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    background-color: black;
    color: white;
    transition: 200ms all ease;
    padding: 7px 0;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

.join-btn:hover {
    background-color: #fdcf41;
    color: black;
}

.ask-for {
    display: flex;
    font-size: 14px;
    margin: 10px 0;
}

.container {
    padding: 20px 0;
}

.image-frame> img {
    width: 100%;
    object-fit: cover;
}

.mission-lastupdated {
    font-size: 12px;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
}

.mission-dtime {
    margin-top: 10px;
    margin-bottom: 0;
}

.namelist-label {
    margin-bottom: 0px;
}

.patron-namelist {
    font-size: 14px;
    color: #555555;
}

.ans-msg {
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .mission-container > div:first-child {
      display: flex;
      flex-direction: column;
    }
    .mission-container {
        padding: 0 20px;
    }
    .mission-title {
        margin-top: 10px;
    }
    .btn-group {
        display: flex;
        flex-direction: column;
    }
    .btn-group > div {
        width: 100%;
        margin-bottom: 10px;
    }
}

.modal-title {
    font-size: 30px;
    text-align: center;
    width: 100%
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-footer {
    padding: 1rem 2rem;
}

.cxl-btn, .pay-btn {
    text-align: center;
    padding: 5px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 200ms all ease;
    margin-right: 10px;
}

.pay-btn.disable {
    padding: 5px 20px;
    background-color: #fdcf41;
    color: black;
    cursor: inherit;
}

.paid {
    padding: 5px 20px;
    background-color: #fdcf41;
    color: black;
}

.edit-wrapper {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.edit-btn {
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px; */
    color: #555555;
    cursor: pointer;
}

.cxl-btn:hover, .pay-btn:hover {
    background-color: #fdcf41;
    color: black;
}

.edit-btn:hover {
    color: black;
}

.text-editable {
    border: 1px solid #cccccc;
    padding: 5px 10px;
    padding-bottom: 0;
    border-radius: 5px;
}

#main-div {
    position: relative;
    min-height: 100vh;
}

.container {
    padding-bottom: 225px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
}

@media screen and (max-width: 470px) {

    .container {
        padding-bottom: 300px;
    }

    footer {
        height: 250px;
        padding: 20px 40px;
    }
    footer > .row {
        flex-direction: column;
    }

    footer > .row > .col-3 {
        min-width: 100%;
    }

    footer > .row > .col-3:first-child {
        margin-bottom: 10px;
    }
}




