html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

.modal-open {
    overflow: auto; 
}

.nav-bar {
    background-color: white;
    position: relative;
    z-index: 10;
}

.join-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    background-color: black;
    color: white;
    transition: 200ms all ease;
    padding: 7px 0;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
}

.join-btn:hover {
    background-color: #fdcf41;
    color: black;
}

.ask-for {
    display: flex;
    font-size: 14px;
    margin: 10px 0;
}

.container {
    padding: 20px 0;
}

.image-frame> img {
    width: 100%;
    object-fit: cover;
}

.mission-lastupdated {
    font-size: 12px;
}
p {
    font-size: 14px;
    margin-bottom: 10px;
}

.mission-dtime {
    margin-top: 10px;
    margin-bottom: 0;
}

.namelist-label {
    margin-bottom: 0px;
}

.patron-namelist {
    font-size: 14px;
    color: #555555;
}


.isjoined-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    background-color: #fdcf41;
    color: black;
    transition: 200ms all ease;
    padding: 7px 0;
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    cursor: inherit;
}

@media only screen and (max-width: 600px) {
    .mission-container > div:first-child {
      display: flex;
      flex-direction: column;
    }
    .mission-container {
        padding: 0 20px;
    }
    .mission-title {
        margin-top: 10px;
    }
    .join-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

.modal-title {
    font-size: 30px;
    text-align: center;
    width: 100%
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-footer {
    padding: 1rem 2rem;
}

#main-div {
    position: relative;
    min-height: 100vh;
}

.container {
    padding-bottom: 225px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
}

@media screen and (max-width: 470px) {

    .container {
        padding-bottom: 300px;
    }

    footer {
        height: 250px;
        padding: 20px 40px;
    }
    footer > .row {
        flex-direction: column;
    }

    footer > .row > .col-3 {
        min-width: 100%;
    }

    footer > .row > .col-3:first-child {
        margin-bottom: 10px;
    }
}
