* {
    margin: 0;
    padding: 0;
}

.nav-btns > a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    z-index: 100;
    width: 100%;
    transition: 200ms all ease-in;
    border-bottom: 1px solid #EEEEEE;
    color: #212529;
}

.nav-btns {
    display: flex;
    align-items: center;
    color: #212529;
}

.nav-btn {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: 200ms all ease-out;
}

.nav-btn:hover {
    border-bottom: 5px solid #fdcf41;
}

.balance {
    display: flex;
    align-items: center;
    font-size: 18px;
    border: 5px solid transparent;
    padding: 0 10px;
    margin-bottom: 5px;
    font-weight: 400;
}

.m-dollar-sign {
    font-family: 'Red Rose', cursive;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.m-coin-sign {
    position: relative;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    min-height: 20px;
    min-width: 20px;
    font-family: 'Red Rose', cursive;
    margin-right: 3px;
    color: #212529;
}

.m-sign {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #212529;
}

.double-line {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    background-color: #fdd302;
    color: black;
    border: 1px solid #CCCCCC;
}

.title-link {
    text-decoration: none !important;
    color: #666666;
}

.title-link:hover {
    color:#222222;
    border-bottom: 2px solid #fdcf41;
}

.display {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 90%;
    padding-bottom: 60px;
}

.send-patron, .send-contributor {
    transition: 200ms all ease;
    cursor: pointer;
}

.send-patron:hover, .send-contributor:hover {
    color: #fdcf41;
}

body {
    font-size: 15px;
    font-weight: 300;
    background-color: #f0f0f0;
    color: #666666;
}

.menu {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
}

.titles {
    margin-top: 40px;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
}

.message-btn, .balance-btn {
    transition: 200ms all ease;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.message-btn:hover, .balance-btn:hover, .active {
    color: black;
    border-bottom: 3px solid #fdcf41;
}

.message {
    margin: 5px 0;
}

.profile {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: white;
}

.profile-pic-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    font-size: 80px;
    text-align: center;
    border: 1px solid #EEEEEE;
    background-color: #FDD302;
    color: #222222;
}

.name {
    font-size: 20px;
    color: #222222;
    padding-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.white {
    background-color: white;
}

.statuses {
    display: flex;
}

.status {
    padding: 20px;
    text-align: center;
}

.amount-label {
    font-size: 13px;
}

.paid-amount, .unpaid-amount, .collected-amount, .uncollected-amount {
    font-size: 18px;
    color: #222222;
}


footer {
    background-color: #222222;
    padding: 40px 50px 35px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-label {
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 0;
}

.footer-link {
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 0;
    transition: 200ms all ease;
}

.footer-link:hover {
    color: #fdcf41;
    text-decoration: none;
}

.icon-container {
    display: flex;
}

.icon-container {
    display: flex;
}

.icon-container > a {
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms all ease;
}

.icon:hover {
    color: #fdcf41;
    border-color: #fdcf41;
}