* {
    margin: 0;
    padding: 0;
}

header > a {
    text-decoration: none !important;
}

body {
    background-color: #f0f0f0;
    color: #414141;
}

h3 {
    color: #222222;
}

.banner {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.slogan {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(25%, -25%);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

.banner{
    height:70vh;
    background-image: url("../img/banner.jpeg");
    background-size: cover;
    /* margin-bottom: 400px; */
}

.nav-btns {
    display: flex;
    align-items: center;
    
}

.logo > img {
    width: 150px;
}

.nav-btn {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: 200ms all ease-out;
}

.nav-btn:hover {
    border-bottom: 5px solid #fdcf41;
}

.btn{
    background: rgba(0, 0, 0, 0.6);;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.services {
    display: flex;
    width: 100%;
}

.service > div{
    height: 400px;
    width: 1000px;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.links > a {
    color: #9f9e9e;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin: 10px 40px;
}

.links > a:hover {
    border-color: #222;
    color: #666;
}

.text {
    padding: 0 40px;
}

li {
    margin-left: 40px;
}

.col-4 {
    padding: 0;
}

img {
    width: 100%;
}

footer {
    background-color: #222222;
    padding: 40px 50px 35px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-label {
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 0;
}

.footer-link {
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 0;
    transition: 200ms all ease;
}

.footer-link:hover {
    color: #fdcf41;
    text-decoration: none;
}

.icon-container {
    display: flex;
}

.icon-container > a {
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms all ease;
}

.icon:hover {
    color: #fdcf41;
    border-color: #fdcf41;
}

.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-wrapper > .logo {
    margin-right: -35px;
}

.modal-title {
    font-size: 30px;
    text-align: center;
    width: 100%
}

.modal-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #212529;
}
.modal-logo > img {
    width: 200px;
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-footer {
    padding: 1rem 2rem;
}

.signup-btn, .login-btn, .commit-btn {
    border: none;
    width: 100%;
    background-color: black;
    color: white;
    transition: 200ms all ease;
    padding: 7px 0;
    border-radius: 4px;
}

.signup-btn:hover, .login-btn:hover, .commit-btn:hover {
    background-color: #fdcf41;
    color: black;
}