* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

.modal-open {
    overflow: auto; 
}

body {
    font-family: Helvetica,Arial,Verdana,sans-serif;
    background-color: #f0f0f0;
}

#main-div {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.m-dollar-sign {
    font-family: 'Red Rose', cursive;
    position: relative;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin: 0 5px;
}

.m-sign {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 300;
}

.double-line {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

/* header {
    display: relative;
} */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: #FFFFFF; */
    z-index: 10;
    width: 100%;
    z-index: 100;
    transition: 200ms all ease-in;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.nav-btn {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    transition: 200ms all ease-out;
}

.nav-btn:hover {
    border-bottom: 5px solid #fdcf41;
}

.mission-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.mission-card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin: 15px;
    transition: 200ms;
    cursor: pointer;
}

/* .mission-card {
    width: 300px;
    border: 1px solid #d8d5d2;
    background-color: white; */
    /* background-color: #f0f0f0; */
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); */
    /* color: #222222;
    cursor: pointer;
    transition: 200ms ease;
    margin: 10px;
} */

/* .mission-card:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);;
} */


.empty-card {
    width: 20%;
    margin: 15px;
}

.mission-card:hover {
    /* transform: scale(1.01); */
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}

.card-image {
    text-align: center;
    /* padding: 50px 10px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff; */
}

.card-image > img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    min-height: 200px;
}

.title {
    font-size: 16px;
}

.descr {
    height: 60px;
    font-size: 13px;
    color: #555555;
    overflow: hidden;
    margin: 5px 0;
}

.icons {
    /* height: 40px; */
    display: flex;
    background-color: #fdcf41;
    color: #222222;
}

.icons > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 33.3%;
    padding: 5px 0;
}

.amount {
    display: flex;
    align-items: center;
}

.unit {
    font-size: 10px;
}

.vacancy {
    border-left: 1px solid #ecbe30;
    border-right: 1px solid #ecbe30;
}

@media screen and (max-width: 1000px) {
    .mission-card, .empty-card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    .mission-cards, .empty-card {
        width: 100%;
    }
    .mission-card, .empty-card {
        width: 80%;
    }
}

.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-btn, .login-btn, .commit-btn {
    border: none;
    width: 100%;
    background-color: black;
    color: white;
    transition: 200ms all ease;
    padding: 7px 0;
    border-radius: 4px;
}

.signup-btn:hover, .login-btn:hover, .commit-btn:hover {
    background-color: #fdcf41;
    color: black;
}

.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-wrapper > .logo {
    margin-right: -35px;
}

.modal-title {
    font-size: 30px;
    text-align: center;
    width: 100%
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-footer {
    padding: 1rem 2rem;
}

.mission-form-row {
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    color: #495057;
}

.mission-form-row > div {
    margin-right: 5px;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    border-radius: .2rem
}

input[type="number"] {
    width: 50px;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    color: #495057;
}

input[type="date"] {
    width: 130px;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    color: #495057;
}

input[type="time"] {
    width: 100px;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    color: #495057;
}

input[type="file"] {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border-radius: .2rem;
    border: 1px solid #ced4da;
    color: #495057;
}

footer {
    background-color: #222222;
    padding: 40px 50px 35px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-label {
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 0;
}

.footer-link {
    font-size: 12px;
    color: #FFFFFF;
    padding: 5px 0;
    transition: 200ms all ease;
}

.footer-link:hover {
    color: #fdcf41;
    text-decoration: none;
}

.icon-container {
    display: flex;
}

.icon-container {
    display: flex;
}

.icon-container > a {
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms all ease;
}

.icon:hover {
    color: #fdcf41;
    border-color: #fdcf41;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.google-login {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #666;
    color: #222;
    padding: 11px 0;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    transition: 200ms ease;
    margin-top: 10px;
}

.google-login:hover {
    background-color: #f0f0f0;
}

.google-label {
    text-align: center;
    margin-left: -40px;
    width: 100%;
}

.google-icon {
    margin-left: 20px;
}

#main-div {
    position: relative;
    min-height: 100vh;
}

.mission-cards {
    padding-bottom: 175px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
}
@media screen and (max-width: 470px) {

    .mission-cards {
        padding-bottom: 250px;
    }

    footer {
        height: 250px;
        padding: 20px 40px;
    }
    footer > .row {
        flex-direction: column;
    }

    footer > .row > .col-3 {
        min-width: 100%;
    }

    footer > .row > .col-3:first-child {
        margin-bottom: 10px;
    }
}


