a {
    text-decoration: none !important;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
    height: 52px;
    max-height: 52px;
    font-family: Helvetica;
}

.logo-sm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 127px;
    min-width: 127px;
    height: 42px;
    max-height: 42px;
    font-family: Helvetica;
}

.star-sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px !important;
    color: black;
    margin-top: 3px;
}
.star-sign-sm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7px !important;
    color: black;
    margin-top: 3px;
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 23px;
    font-weight: 600;
    font-size: 18px;
    background-color: black;
    color: #fdcf41;
}

.upper-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    background-color: black;
    color: #fdcf41;
}

.middle {
    display: flex;
    height: 6px;
}

.middle-sm {
    display: flex;
    height: 4px;
}

.line {
    width: 45%;
    border-bottom: 1px solid black;
}

.space {
    width: 10%;
}

.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 23px;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.lower-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    font-weight: 400;
    font-size: 16px;
    color: black;
}